[submodule "vim/pack/core/YouCompleteMe"]
	path = vim/pack/core/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/pack/core/Ultisnips"]
	path = vim/pack/core/Ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/pack/core/gundo"]
	path = vim/pack/core/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/pack/core/nerdtree"]
	path = vim/pack/core/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/git/nerdtree-git-plugin"]
	path = vim/pack/git/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/core/vim-airline"]
	path = vim/pack/core/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/core/vim-airline-themes"]
	path = vim/pack/core/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/colorschemes/vim-monokai"]
	path = vim/pack/colorschemes/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "vim/pack/colorschemes/vim-solarized"]
	path = vim/pack/colorschemes/vim-solarized
	url = https://github.com/altercation/solarized.git
[submodule "vim/pack/git/vim-fugitive"]
	path = vim/pack/git/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/core/auto-pairs"]
	path = vim/pack/core/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/pack/latex/vimtex"]
	path = vim/pack/latex/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/core/syntastic"]
	path = vim/pack/core/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
