[submodule "zsh/themes/agnoster"]
	path = zsh/themes/agnoster
	url = https://github.com/agnoster/agnoster-zsh-theme.git
[submodule "zsh/zsh/zplug"]
	path = zsh/zsh/zplug
	url = https://github.com/zplug/zplug
