########################################################
####### download settings ##############################
########################################################
 
#max number of simultaneous uploads per torrent
max_uploads = 1024 				
#min number of peers to connect to per torrent
min_peers = 1 					
#max number of peers to connect to per torrent
max_peers = 1024			
#min number of peers for seeding. -1 same as downloading
min_peers_seed = -1				
#max number of peers for seeding. -1 same as downloading
max_peers_seed = -1				
#number of trackers required. -1 is diabled
trackers.numwant.set = -1			
#check hash for finished torrents
check_hash = yes				



########################################################
####### directories ####################################
########################################################

#session info
session.path.set = /media/torrents/.session				
#default download directory
directory.default.set = /media/torrents/incomplete

#watch directories
schedule2 = unsorted,10,10,"load.normal=/media/torrents/watch/*.torrent,d.custom1.set=/media/torrents/downloads/"
schedule2 = movies,10,10,"load.normal=/media/torrents/watch/movies/*.torrent,d.custom1.set=/media/torrents/downloads/movies"
schedule2 = series,10,10,"load.normal=/media/torrents/watch/series/*.torrent,d.custom1.set=/media/torrents/downloads/series"
schedule2 = music,10,10,"load.normal=/media/torrents/watch/music/*.torrent,d.custom1.set=/media/torrents/downloads/music"
schedule2 = iso,10,10,"load.normal=/media/torrents/watch/iso/*.torrent,d.custom1.set=/media/torrents/downloads/iso"
schedule2 = games,10,10,"load.normal=/media/torrents/watch/games/*.torrent,d.custom1.set=/media/torrents/downloads/games"
schedule2 = books,10,10,"load.start=/media/torrents/watch/books/*.torrent,d.custom1.set=/media/torrents/downloads/books"
schedule2 = porn,10,10,"load.normal=/media/torrents/watch/.porn/*.torrent,d.custom1.set=/media/torrents/downloads/.porn"

#start and stop 
schedule2 = untied_directory,5,5,stop_untied=
schedule2 = tied_directory,5,5,start_tied=

#organize torrents when done downloading
method.insert = d.data_path, simple, "if=(d.is_multi_file), (cat,(d.directory),/), (cat,(d.directory),/,(d.name))"
method.insert = d.move_to_complete, simple, "d.directory.set=$argument.1=; execute=mkdir,-p,$argument.1=; execute=mv,-u,$argument.0=,$argument.1=; d.save_full_session="
method.set_key = event.download.finished,move_complete,"d.move_to_complete=$d.data_path=,$d.custom1="

########################################################
####### connection settings ############################
########################################################

#port range to use for listening
network.port_range.set = 51103-51103
#start opening ports at random within port range
network.port_random.set = yes			
#upload rate in KiB. 0 for unlimited
upload_rate = 0					
#download rate in KiB. 0 for unlimited
download_rate = 0				
#max mapped memory. does not refer to physical memory
pieces.memory.max.set = 3500M			
#max number of files to keep open simultaneously
network.max_open_files.set = 1024		
network.http.max_open.set = 256

#encription
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry,prefer_plaintext 		

#port used to communicate with webgui
scgi_port = 127.0.0.1:5000			


########################################################
####### bittorrent settings ############################
########################################################

#dht support for trackerless torrents or when all trackers are down. disable (completely disable), off (do not start), auto (start and stop as needed), on (start immediately)
dht.mode.set = disable 				
#udp port for dht
#dht.port.set = 6881				
#enable peer exchange (for non-private torrents)
protocol.pex.set = no				

#close torrents if low diskspace 
schedule2 = low_diskspace,5,60,close_low_diskspace=100M		
 
 





# Advanced Settings 
# 
# do not modify the following parameters unless you know what you"re doing 
# 
 
# example of scheduling commands: Switch between two ip"s every 5 seconds 
# schedule = "ip_tick1,5,10,ip=torretta" 
# schedule = "ip_tick2,10,10,ip=lampedusa" 
 
# remove a scheduled event 
# schedule_remove = "ip_tick1" 
 
# hash read-ahead controls how many MB to request the kernel to read ahead ahead 
# if the value is too low the disk may not be fully utilized, 
# while if too high the kernel might not be able to keep the read pages 
# in memory thus end up trashing. 
# hash_read_ahead = 8
# system.hash.read_ahead.set = 8 
 
# interval between attempts to check the hash, in milliseconds 
# hash_interval = 50 
# system.hash.interval.set = 50 
 
# number of attempts to check the hash while using the mincore status, before forcing 
# overworked systems might need lower values to get a decent hash checking rate 
# hash_max_tries = 3 
# system.hash.max_tries.set = 3 

# SSL certificate name
# http_cacert =
# SSL certificate path 
# http_capath = 
network.http.ssl_verify_peer.set=0
 
# throttle.max_downloads.div.set = 
# max_downloads_div =
 
# throttle.max_uploads.div.set = 
# max_uploads_div = 
 
system.file.max_size.set = -1 
 
# preload type 0 = Off, 1 = madvise, 2 = direct paging 
pieces.preload.type.set = 1 
pieces.preload.min_size.set = 262144
pieces.preload.min_rate.set = 5120
network.send_buffer.size.set = 1M
network.receive_buffer.size.set = 131072

pieces.sync.always_safe.set = 1
pieces.sync.timeout.set = 600
pieces.sync.timeout_safe.set = 900

# scgi_dont_route =
# network.scgi.dont_route.set =

# session.path.set =
session.name.set =
session.use_lock.set = 1
session.on_completion.set = 1

system.file.split_size.set = -1
system.file.split_suffix.set = .part

# set whether the client should try to connect to UDP trackers
trackers.use_udp.set = 1

# use a http proxy. [url] ;an empty string disables this setting
# http_proxy =
# network.http.proxy_address.set =

# The IP address the listening socket and outgoing connections is bound to
# network.bind_address.set = rakshasa.no
# network.bind_address.set = 127.0.0.1
# bind = rakshasa.no
# bind = 127.0.0.1

# number of sockets to simultaneously keep open
# max_open_sockets = 65023
# network.max_open_sockets.set = 65023

# set the umask applied to all files created by rtorrent
system.umask.set = 0002

# alternate keyboard mappings
# qwerty | azerty | qwertz | dvorak
# key_layout = dvorak
# keys.layout.set = dvorak

################ If you need log, uncomment (remove ######) from all lines below
######
log.open_file = "rtorrent", /media/torrents/log/rtorrent.log
log.open_file = "tracker", /media/torrents/log/tracker.log
log.open_file = "storage", /media/torrents/log/storage.log
######
log.add_output = "info", "rtorrent"
log.add_output = "critical", "rtorrent"
log.add_output = "error", "rtorrent"
log.add_output = "warn", "rtorrent"
log.add_output = "notice", "rtorrent"
log.add_output = "debug", "rtorrent"
######
log.add_output = "dht_debug", "tracker"
log.add_output = "tracker_debug", "tracker"
######
log.add_output = "storage_debug", "storage"
######

# vim: set syntax=conf:
