snippet title_comment "Title" b
-------------------------------------------------------------------------------
-- t$1itle                                                                     --
-------------------------------------------------------------------------------
endsnippet
snippet title_marker "Title with vim fold markers" b
----------------------------------------------------------------------------}}}
-- t$1itle                                                                    {{{
-------------------------------------------------------------------------------
endsnippet
