snippet wlg
without loss of generality
endsnippet

snippet iff
if and only if
endsnippet

snippet as
Anish Sevekari
endsnippet

snippet sig
Anish Sevekari
First Year PhD Student,
Carnegie Mellon University
endsnippet

