snippet wlg
without loss of generality
endsnippet

snippet iff
if and only if
endsnippet

snippet aps
Anish Sevekari
endsnippet

snippet sig
Anish Sevekari
First Year PhD Student,
Carnegie Mellon University
endsnippet

snippet stamp
[Anish Sevekari<anish.sevekari@gmail.com> `!v strftime("%F %T %z")`]:$0
endsnippet

snippet date
[`!v strftime("%F")`]:$0
endsnippet

snippet time
[`!v strftime("%F %T %z")`]:$0
endsnippet
