snippet wlg
without loss of generality
endsnippet

snippet iff
if and only if
endsnippet

snippet aps
Anish Sevekari
endsnippet

snippet sig
Anish Sevekari
First Year PhD Student,
Carnegie Mellon University
endsnippet

# Date and Time insertions
snippet gitsig
Anish Sevekari<anish.sevekari@gmail.com> [`date`]:
endsnippet

snippet date
[`date +%Y-%m-%d`]:$0
endsnippet

snippet time
[`date`]:$0
endsnippet

snippet stamp
[`whoami`@`hostname`:`date`]:$0
endsnippet
